<div class="container">

    <section class="page-not-found">
        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="page-not-found-main">
                    <h2>404 <i class="fa fa-file"></i></h2>
                    <p>Lo sentimos, la pagina que buscas no existe.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <h4 class="heading-primary">Aqui tienes algunos links que te pueden ayudar</h4>
                <ul class="nav nav-list flex-column">
                    <li class="nav-item"><a class="nav-link" href="http://localhost:4200/inicio">Inicio</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:4200/productos">Productos</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:4200/acercade">Acerca de Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="http://localhost:4200/contacto">Contactanos</a></li>
                </ul>
            </div>
        </div>
    </section>

</div>
