<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-ribbon">
                <span>Mantente en contacto</span>
            </div>
            <div class="col-lg-5">
                <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Flabarrapasteles%2F&tabs=timeline&width=340&height=500&small_header=true&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
            <div class="col-lg-5">
                <div class="contact-details">
                    <h4>Contactanos</h4>
                    <ul class="contact">
                        <li><i class="fa fa-map-marker"></i> <strong>Direccion:</strong> Calle Alberto M. Alvarado #900,<br>Col.Magisterial, 34700, Guadalupe Victoria, Dgo.</li> <br>
                        <li><i class="fa fa-phone"></i> <strong>Telefono:</strong> (618) 106-3451</li><br>
                        <li><i class="fa fa-envelope"></i> <strong>Correo:</strong> <a href="mailto:mail@example.com">mail@example.com</a></li>
                </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <h4>Siguenos</h4>
                <ul class="social-icons">
                    <li class="social-icons-facebook"><a href="https://www.facebook.com/labarrapasteles/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                    <li class="social-icons-instagram"><a href="https://www.instagram.com/labarrapasteleria/" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                    <li class="social-icons-whatsapp"><a href="https://wa.me/+5216181063451" target="_blank" title="WhatsApp"><i class="fa fa-whatsapp"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-1">
                    <a href="/inicio" class="logo">
                        <img alt="Porto Website Template" class="img-fluid" src="../../../assets/img/logos/logo.jpg">
                    </a>
                </div>
                <div class="col-lg-7">
                    <p>© Copyright 2015. Todos los derechos reservados.</p>
                </div>
                <div class="col-lg-4">
                    <nav id="sub-menu">
                        <ul>
                            <li><a href="/inicio">Inicio</a></li>
                            <li><a href="/productos">Productos</a></li>
                            <li><a href="/acercade">Acerca de Nosotros</a></li>
                            <li><a href="/contacto">Contacto</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</footer>