<div role="main" class="main shop">

    <section class="page-header">
        <div class="container">
            <div class="row">
                <div class="col">
                    <ul class="breadcrumb">
                        <li><a href="#">Inicio</a></li>
                        <li class="active">Productos</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h1>Productos</h1>
                </div>
            </div>
        </div>
    </section>

    <div class="container">

        <section class="tablaProductos" id="tablaProductos" *ngIf="enableTablaProductos">
            <div class="row">                            
                <div id="page-wrapper">
                        <div class="container-fluid">
                          <div class="row col-lg-12 col-md-12 col-sm-12 flex">
                            <div class="col-lg-12">
                                <h1>Productos</h1>
                            </div>
    
                            <div class="row col-lg-12" style="padding-left: 10%;">
                                <div class="col-lg-3 col-md-6 col-sm-12 tablaProductos row" *ngFor="let producto of productos" style="box-shadow: 2.5px 2.5px 15px grey; margin: 25px; padding: 10px;">
                                    <div class="card" style="width: 100%;">
                                        <img [src]="producto.imagenes[0]" class="card-img-top" alt="Imagen del Producto">
                                        <div class="card-body">
                                          <h5 class="card-title" style="height: 30px;">{{producto.nombreProducto}}</h5>
                                          <hr>
                                          <p class="card-text" style="height: 40px;">{{producto.descripcionProducto}}</p>
                                          <h5>${{producto.precioProducto}}</h5>
                                          <button class="btn btn-primary" (click)=" enableTablaProductos = false; enableProductoS = true; productoSeleccionado = producto; ">Ver detalles</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

    
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.container-fluid -->
                </div>
            </div><br>
        </section>

        <section class="producto container" *ngIf="enableProductoS">
            <div class="row">
                <div class="col">
                    <div class="col-lg-12 col-md-12 col-sm-12" (click)=" enableTablaProductos = true; enableProductoS = false; ">
                        <div class="p-2 d-flex flex-row-reverse"><i class="fa fa-times fa-3x" aria-hidden="true"></i></div>
                    </div>
                    <hr class="tall">
                </div>
            </div>
            
            <div class="row">
                <div class="col-lg-6">

                    <ngb-carousel>  
                        <ng-template ngbSlide>  
                            <img [src]="productoSeleccionado.imagenes[0]" alt="Imagen1" width="100%" height="500px" >  
                            <div class="carousel-caption">  
                                <h3 style="color: rgba(34, 34, 34, 0.255)">Imagen 1</h3>  
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                            <img [src]="productoSeleccionado.imagenes[1]" alt="Imagen2" width="100%" height="500px" >  
                            <div class="carousel-caption">  
                                <h3 style="color: rgba(34, 34, 34, 0.255)">Imagen 2</h3>  
                            </div>  
                        </ng-template>  
                        <ng-template ngbSlide>  
                            <img [src]="productoSeleccionado.imagenes[2]" alt="Imagen3" width="100%" height="500px" >  
                            <div class="carousel-caption">  
                                <h3 style="color: rgba(34, 34, 34, 0.255)">Imagen 3</h3>  
                            </div>  
                        </ng-template>
                    </ngb-carousel>

                </div>

                <div class="col-lg-6">

                    <div class="summary entry-summary">

                        <h1 class="mb-0"><strong>{{productoSeleccionado.nombreProducto}}</strong></h1>

                        <div class="review_num">
                            <span class="count" itemprop="ratingCount">{{productoSeleccionado.cantidadVendidaProducto}}</span> vendidos
                        </div>

                        <div [title]='"Calificado "+productoSeleccionado.calificacionProducto+" de 100%"' class="star-rating">
                            <span [style]='"width:"+productoSeleccionado.calificacionProducto'></span>
                        </div>

                        <p class="price">
                            <span class="amount">${{productoSeleccionado.precioProducto}}</span>
                        </p>

                        <p class="mb-4">{{productoSeleccionado.descripcionProducto}}</p>

                        <form enctype="multipart/form-data" method="post" class="cart">
                            <div class="quantity">
                                <input type="button" class="minus" value="-">
                                <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                                <input type="button" class="plus" value="+">
                            </div>
                            <a [attr.href]="'https://wa.me/+5216181063451?text=¡Buen%20día!%20Me%20interesa%20el%20producto:%20*'+productoSeleccionado.nombreProducto+'*.%20Quisiera%20consultar%20los%20detalles.'" target="_blank" class="btn btn-primary pt-2 pb-2 pr-3 pl-3">Solicitar producto <i class="fa fa-whatsapp"></i></a>
                        </form>

                        <div class="product_meta">
                            <span class="posted_in">Categoria: <a rel="tag">{{productoSeleccionado.categoriaProducto}}</a></span>
                        </div>

                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="tabs tabs-product">
                        <ul class="nav nav-tabs">
                            <li class="nav-item active"><a class="nav-link" href="#productDescription" data-toggle="tab">Descripcion</a></li>
                            <li class="nav-item"><a class="nav-link" href="#productInfo" data-toggle="tab">Informacion Adicional</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="productDescription">
                                <p>{{productoSeleccionado.descripcionProducto}}</p>
                            </div>
                            <div class="tab-pane" id="productInfo">
                                <table class="table table-striped mt-5">
                                    <tbody>
                                        <tr>
                                            <th>
                                                Size:
                                            </th>
                                            <td>
                                                Unique
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Colors
                                            </th>
                                            <td>
                                                Red, Blue
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>
                                                Material
                                            </th>
                                            <td>
                                                100% Leather
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

</div>