.btnVolver{
    transition: opacity 0.3s;
    background: #404040;
    border-radius: 7px 7px 0 0;
    bottom: 190px;
    color: #FFF;
    display: block;
    height: 9px;
    opacity: 0;
    padding: 13px 10px 35px;
    position: fixed;
    right: 10px;
    text-align: center;
    text-decoration: none;
    min-width: 49px;
    z-index: 1040;
}